*{
    flex-wrap: wrap;
}
header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}

ul{
    list-style-type: none;
}

.headlink {
    
    display: flex;
    gap: 50px;
    color: white;
    padding: 8px;
    
}
.headlink li {
    padding: 8px;
    display: flex;
    align-items: center; }
  
.headlink li a {
    border: solid pink;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.imagelogo{
    max-width: 300px;
    max-height: 100px; 
    width: auto;
    height: auto;
    padding: 8px;

}

.containerHead{
    display: flex;
    background-color: #1F2937;  
    flex-direction: row; 
    gap: 100px;
    padding: 25px;

}

.textcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.texthead{
    padding: 8px;
    color: white;
    font-size: 70px;
    margin-bottom: -12px;
}
.textheadsmall{
    padding: 8px;
    color: white;
    font-size: 45px;
    max-width: 900px;

}
.smallertext{
    padding: 8px;
    color: white;
    font-size: 30px;
}

.group{
    max-width: 700px;
    max-height: 500px;
    padding: 8px;

    
    
}


.button {
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FCA5A5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 100px;
    justify-content: space-around;
  }
/*--------------------------------------------*/
  .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
  }
  .titleSmall{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
  }
  
  .info {
    gap: 10px;
    max-width: 200px;
    
  }

  .glow-border {
    border: 10px solid transparent;
    box-shadow: 0 0 20px 5px #ff00ff; }

  .text{
    margin-top: 25px;
  }

  .tcon{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 15px solid pink;
    
  }

  .quote {
    margin-bottom: 15px;
  }

  .quote cite {
    
    font-weight: 600;
    font-style: italic;
    color: #2F4F4F;
    margin-top: 10px;
  }

  .box{
    display: flex;
    gap: 16px;
    padding: 16px;
    background: #FCA5A5;
    width: 500px;
    border-radius: 900px;
    box-shadow: 2px 4px 16px pink;
  }
  

  .headerr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .textt {
    margin-bottom: 16px;
  }

  .containerr{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .containbox{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
  

 
